# Explicitly ignore node_modules and native folders to prevent upload bloat
node_modules/
ios/
android/

# ...EXCEPT we WANT to upload these credential files to EAS for the build
!GoogleService-Info.plist
!google-services.json
